NODE_ENV=development
APP_NAME=reino-do-dao-bot
BOT_PREFIX=/
DB_PATH=./data/game.sqlite
LOG_LEVEL=info
TIMEZONE=America/Campo_Grande
MESSAGE_COOLDOWN_DEFAULT_MS=1500
ENABLE_GROUPS=true
ENABLE_PRIVATE_CHAT=true
ADMIN_PHONE=
